.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  gap: 2rem;
  align-items: center;
  color: white;
}
.container button {
  padding: 1.2rem 2.4rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #8eabff;
  border-radius: .6rem;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: #b2c8ff;
  }
}
