/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Segoe MDL2 Assets", sans-serif;
}
.btn {
  color: #000;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all .1s;
}
.btn:hover, .btn:active {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.btn-p {background-color: slateblue}
.btn-c {background-color: saddlebrown}

